<div class="top-bar">
  <div class="top-bar-title">
    <strong>
      <%= link_to root_path do %>
        Smelly Cat Club
      <% end %>
    </strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="menu">
        <li><%= link_to 'Invite Your Friend', new_invitation_path %></li>
        <li><%= link_to 'My Invitations', invitations_path %></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <% if user_signed_in? %>
          <li>Hello <%= current_user.email %>!</li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              Log out
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
