<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>Smelly Cat Club</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <br />
    <center><% render_flash %></center>
    <br />

    <div class="row">
      <div class="medium-offset-2 medium-8 columns">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
